main.aux
main.bbl
main.bcf
main.blg
main.fdb_latexmk
main.fls
main.idx
main.ilg
main.ind
main.lof
main.log
main.lot
main.run.xml
main.synctex.gz
main.toc
main.synctex(busy)

thesis.aux
thesis.bbl
thesis.bcf
thesis.blg
thesis.fdb_latexmk
thesis.fls
thesis.idx
thesis.ilg
thesis.ind
thesis.lof
thesis.log
thesis.lot
thesis.run.xml
thesis.synctex.gz
thesis.toc
thesis.synctex(busy)

albonico-andrea/

summary.synctex.gz
summary.aux
summary.fdb_latexmk
summary.fls
summary.log
summary.out

presentation.synctex.gz
presentation.aux
presentation.fdb_latexmk
presentation.fls
presentation.log
presentation.out
presentation.nav
presentation.snm
presentation.toc

main.pdf
summary.pdf
presentation.pdf